@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body {
  background-color: #222222;
  background: repeating-linear-gradient(
      45deg,
      #252525 0%,
      #252525 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;
}

h3 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
}